<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>ConnectedIn</title>
    </head>
    <body>
        <h1>Welcome to Connectedin</h1>
        {% if profiles %}
        <ul>
            {% for profile in profiles %}
            <li><a href="{% url 'show' profile.id %}">{{ profile.name | lower }} / {{ profile.email }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Profiles not found</p>
        {% endif %}
    </body>
</html>